body,html{
  height:100%;
  width: 100%;
}
body{
  background-color: #e9c46a;
}

.flex-cover{
  display: flex;
  justify-content: center;
  
}

.meal-name{
  margin: 40px;
}

.grid-cover{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem,1fr));
  grid-column-gap: 4em;
  margin-left: 5%;
  margin-right: 5%;
}

.cover{
  border: 1em solid #f4a261;
  border-radius: 20px;
  padding: 1em;
  margin: 20px;
}

.ingredient-list{
  font-size: 1.2em;
}

.heading{
  text-align: center;
}

.image{
  height: 300px;
  width: 100%;
}

.img-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.meal-button{
  background-color: #2a9d8f ;
}
.meal-button:hover{
  background-color: #30b5a6;
  transform: scale(1.2);
}

.meal-link{
  word-break: break-all;
}