body,html{
  height:100%;
  width: 100%;
}
body{
  background-color: #e9c46a;
}

.flex-cover{
  display: flex;
  justify-content: center;
  
}

.meal-name{
  margin-top: 40px;
  margin-bottom: 40px;
}

.grid-cover{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4em;
  margin: 20px;
}

.meal_instructions{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.cover{
  border: 1em solid #f4a261;
  border-radius: 20px;
  padding: 1em;
  max-width:24em;
}

.ingredient-list{
  font-size: 1.2em;
}

.heading{
  text-align: center;
}

.image{
  height: 300px;
  width: 100%;
}

.img-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.meal-button{
  background-color: #2a9d8f ;
}
.meal-button:hover{
  background-color: #30b5a6;
  transform: scale(1.2);
}